.cuadro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #ffffff85;
    border-radius: 7px;
    max-width: 85vw;
    margin: auto;
}

.Sup {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 2em;
}

.SuperA-info {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.SuperA-info .logo-user img {
    width: 125px;
}

.Actions-SA {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.TituloT {
    background-color: #13aa52;

}

.Tabla img{
    width: 17px;
}

.Actions-SA .Tabla {
    font-family: arial, sans-serif;


}



.btn-success {
    background-color: #13aa52;
    border: none;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 0 2px 4px 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 16px;
    margin: 0 3px;
    text-align: center;
}

.btn-success:hover {
    background-color: #0f8540;
}

.src {
    padding: 9.5px 10px;
    margin: 0 0 0 3px;
    border-radius: 4px;
    border: 1px solid #a7a7a7;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}