import controlador
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin3A</title>
        <link rel="stylesheet" href="../../static/CSS/estilo2A.css">
    </head> 
    <body>
        <div class="cuadro">

            <div class="Sup">
                <button class="btn-success" type="button">Agregar Usuario</button>
                <input type="text" name="search" placeholder="Buscar" class="src" autocomplete="off">
            </div>
            <div class="SuperA-info">
                <div>
                    <div class="logo-user text-center">
                        <img src="../../static/images/usuario1.png" alt="logo portada">
                    </div>
                    <form>
                        <div class="Info-SA">
                            <p>{{data["nombre"]}}</p>
                            <p>{{data["id"]}}</p>
                            <p>Administrador</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="Actions-SA">
                <table class="Tabla">

                    <tr class="TituloT">
                        <th>Nombre</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                    <tr>
                        <td>User 1</td>
                        <td>Usuario</td>
                        <td>
                            <a href="/login">
                                <img src="../../static/images/icons8-visible-40.png"> 
                            </a>
                            <a href="">
                                <img src="../../static/images/icons8-editar-usuario-masculino-40.png" > 
                            </a>
                            <a href="">
                                <img src="../../static/images/icons8-basura-100.png" > 
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>User 2</td>
                        <td>Usuario</td>
                        <td >
                            <a href="">
                                <img src="../../static/images/icons8-visible-40.png"> 
                            </a>
                            <a href="">
                                <img src="../../static/images/icons8-editar-usuaria-40.png"> 
                            </a>
                            <a href="">
                                <img src="../../static/images/icons8-basura-100.png" >
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </body>
    </html>