<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SuperAdmin2A</title>
        <link rel="stylesheet" href="../static/css/estilo2A.css">
    </head>
    <body>
        <div class="cuadro">
            <div class="Sup">
                <button class="btn-success" type="button">Agregar Usuario</button>
                <button class="btn-success" type="button">Agregar Administrador</button>
                <input type="text" name="search" placeholder="Buscar" class="src" autocomplete="off">
            </div>
            <div class="SuperA-info">
                <div>
                    <div class="logo-user text-center">
                        <img src="static/images/icons8-hombre-popular-100.png" alt="logo portada">
                    </div>
                    <form>
                        <div class="Info-SA">
                            <p>Nombre del Super A</p>
                            <p>ID del Super A</p>
                            <p>Super Administrador</p>
                        </div>
                        </form>
                </div>
            </div>
            <div class="Actions-SA">
                <table class="Tabla">
                    <tr class="TituloT">
                        <th>Nombre</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                    <tr>
                        <td>Admin 1</td>
                        <td>Administrador</td>
                        <td><img src="static/images/icons8-visible-40.png" > <img src="static/images/icons8-editar-usuario-masculino-40.png" > <img src="static/images/icons8-basura-100.png" > </td>
                    </tr>
                    <tr>
                        <td>User 1</td>
                        <td>Usuario</td>
                        <td ><img src="static/images/icons8-visible-40.png" > <img src="static/images/icons8-editar-usuaria-40.png"> <img src="static/images/icons8-basura-100.png" ></td>
                    </tr>
                </table>
            </div>
        </body>
    </html>